.Toastify__toast {
  .Toastify__toast-body {
    font-size: 13px;
  }
}

/* No-op animation class for instant show/hide */
.Toastify--no-animation {
  animation: none !important;
  transition: none !important;
}
